<footer class="color-white">
    <div class='footer-content'>
        <div class="footer-col footer-social">
            <ul class="footer-col-items">
                <li><a href="#"><span class="ion-social-twitter"></span></a></li>
                <li><a href="#"><span class="ion-social-facebook"></span></a></li>
                <li><a href="#"><span class="ion-social-vimeo"></span></a></li>
                <li><a href="#"><span class="ion-social-youtube"></span></a></li>
            </ul>
        </div>
        <div class="copyright">All Rights Reserved &copy; Your Company</div>
    </div>
</footer>

    <!-- Ion Icons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
</body>
</html>