<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <meta name="theme-color" content="#000000">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-transculent">

    <title>{{ title }}</title>

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Favicons -->
    <link rel="shortcut icon" href="/assets/logos/favicon.ico" />
    <link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="/assets/logos/favicon.ico">
    <link rel="icon" href="/assets/logos/logo-32x32.png" sizes="32x32">
    <link rel="icon" sizes="192x192" href="/assets/logos/logo-192x192.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/logos/logo-152x152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/logos/logo-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/logos/logo-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/logos/logo-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/assets/logos/logo-180x180.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/logos/logo-72x72.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/logos/logo-57x57.png">

    <!-- Manifest -->
    <link rel="manifest" href="/manifest.json">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>