.button {
    border-radius: 99px;
    padding: 10px 20px;
    background-color: white;
    color: $gray-dark;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button-gray {
    background-color: $gray-dark;
    color: white;
}

.button-sm {

}

.button-lg {

}

